/* Apenas fonte principal e ajustes globais */
body {
  font-family: 'Inter', sans-serif;
  background-color: #f3f4f6; /* Tailwind gray-100 */
  margin: 0;
  padding: 0;
}

button:focus {
  outline: none;
}

table {
  border-collapse: collapse;
}

td, th {
  white-space: nowrap;
}
